/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f7fa;
    color:#333;
}

/* Navbar */

header{
    width:100%;
    background:#ffffff;
    box-shadow:0 2px 10px rgba(0,0,0,.08);

    position:fixed;
    top:0;
    left:0;

    z-index:1000;
}

.navbar{

    max-width:1200px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;
}

.logo h1{

    color:#2563eb;

    font-size:30px;
}

.nav-links{

    display:flex;

    list-style:none;

    gap:30px;
}

.nav-links a{

    text-decoration:none;

    color:#333;

    font-weight:bold;

    transition:.3s;
}

.nav-links a:hover{

    color:#2563eb;
}

.btn{

    background:#2563eb;

    color:white;

    text-decoration:none;

    padding:12px 24px;

    border-radius:8px;

    transition:.3s;
}

.btn:hover{

    background:#1d4ed8;
}
.hero{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:20px;

    background:linear-gradient(135deg,#2563eb,#0f172a);

    color:white;
}

.hero-content{

    max-width:700px;
}

.hero h2{

    font-size:52px;

    margin-bottom:20px;
}

.hero p{

    font-size:20px;

    margin-bottom:35px;

    line-height:1.6;
}